<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="ukang-plugin-sleepace" version="0.3.0">
  <engines>
    <engine name="cordova-plugman" version=">=5.0.0" />
    <engine name="cordova-android" version=">=5.0.0" />
  </engines>
  <name>ukang sleepace</name>
  <description>sleepace device integration</description>
  <author>Lanny Lee</author>
  <keywords>sleepace, sleep health,cordova</keywords>
  <license>MIT</license>
  <js-module src="www/sleepace-pillow.js" name="sleepacePillow">
    <clobbers target="SleepacePillow" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SleepacePlugin">
        <param name="android-package" value="com.lec.u_kang.SleepacePlugin" />
      </feature>
    </config-file>
    <!--  -->
    <source-file src="src/android/SleepacePlugin.java" target-dir="src/com/lec/u_kang" />
    <!-- dependent libraries -->
    <source-file src="libs/armeabi/libalgorithm.so" target-dir="libs/armeabi"/>
    <source-file src="libs/heartbreathdevicecore_3.0.0.jar" target-dir="libs"/>
    <source-file src="libs/pillowsdk_3.0.0.jar" target-dir="libs"/>
    <source-file src="libs/sdkalgorithm.jar" target-dir="libs"/>
    <source-file src="libs/sdkcore_3.0.0.jar" target-dir="libs"/>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
    
  </platform>
</plugin>
