
.full-w-image {
    width: 100%;
}

.clock-bar {
    color: #777777;
    height: 35px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
}

.uk-content {
    background-color: #E7E7E7;
    color: black;
    font-size: 14px;
}

.ir-record {
    height: 45px;
    background-color: #ffffff;
}

.ir-device-pane {
    display: inline-block;
}

.ir-device-desc {
    width: 120px;
    float: right;
    display: inline-block;
}

.ir-device-name {
    font-size: 15px;
}

.ir-device-value {
    font-size: 13px;
}

.ir-lv-device-pic {
    height: 75px;
}

.ir_frame {
}

.ir_m_record {
    border: solid 1px C7C7C7;
    background-color: #fff;
}

.ir-mrecord-pane{
    min-height: 60px;
    padding-top: 8px;
}

.center-content {
    margin: auto;
}


/*** 通用CSS ***/
.sep_v_5 {
    height: 10px;
}

.sep_v_10 {
    height: 10px;
}

.sep_v_20 {
    height: 20px;
}

.hidden {
    display: none;
}

.auto-scroll {
    overflow: auto
}

.center-text {
    text-align: center;
}

#app_main {
    overflow: auto;
}

#more_header {
    height: 120px;
}

